auth:
  username: {{ .Values.db.user }}
  password: {{ .Values.db.password }}
  database: {{ .Values.db.name }}

persistence:
  enabled: true
  size: "5Gi"
  storageClass: "standard"
  accessMode: "ReadWriteOnce"